.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff; /* Change the background color as needed */
  position: fixed; /* Make the navbar fixed */
 
  top: 0; /* Position it at the top */
  width: 100%; /* Set the width to 100% */
  z-index: 999; /* Set a higher z-index to ensure it's on top of other content */
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 20px; /* Adjust the spacing between navigation items */
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: #333333; 
  font-size: 16px; 
  font-weight: 300; 
}

.navbar-toggle {
  margin-right: 80px; 
}

@media screen and (max-width: 480px) {

  .nav-item a {
    font-size: 14px; 
  }
  .nav-item {
    margin-right: 10px; 
  }

}