.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff; /* Change the background color as needed */
  }
  
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-right: 20px; /* Adjust the spacing between navigation items */
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #333333; /* Change the text color as needed */
    font-size: 16px; /* Adjust the font size as needed */
    font-weight: bold; /* Adjust the font weight as needed */
  }

  .navbar-toggle {
    margin-right: 40px; /* Adjust the spacing between toggle and navigation items */
  }

  